samp.ban
*.exe
*.amx
*.dll
*.txt
*.rec

# include
include/*

# pawno
pawno/*

# filterscripts
filterscripts/*
!filterscripts/objects.pwn

# plugins
plugins/*
!plugins/TPoker.cpp
!plugins/TPoker.so
!plugins/TPoker.dll

# gamemodes
gamemodes/*
!gamemodes/irresistible
!gamemodes/irresistible/**
gamemodes/irresistible/config/database.pwn
!gamemodes/sf-cnr.pwn
!gamemodes/COD8.pwn

# scriptfiles
scriptfiles/**/*
!scriptfiles/COD/
!scriptfiles/COD/**
!scriptfiles/updates.txt

# npc
npcmodes/**/*
!npcmodes/.gitkeep
!npcmodes/secureguard.pwn
!npcmodes/recordings/
!npcmodes/recordings/*.rec
npcmodes/recordings/mission_4.rec
npcmodes/recordings/mission_3.rec
npcmodes/recordings/mission_2.rec
npcmodes/recordings/mission_1.rec
