samp.ban
*.exe
*.amx
*.dll
*.txt
*.rec

# include
include/*

# pawno
pawno/pawn.ico
pawno/new.pwn
pawno/settings.ini
pawno/.pwn
pawno/include/**/*
!pawno/pawn.cfg
!pawno/include/a_ig.inc
!pawno/include/sf-cnr.inc
!pawno/include/lookupffs.inc
!pawno/include/a_analytics.inc
!pawno/include/a_explosion.inc
!pawno/include/a_weapondata.inc
!pawno/include/attachments.inc
!pawno/include/anticheat
!pawno/include/anticheat/**


# filterscripts
filterscripts/*
!filterscripts/objects.pwn

# plugins
plugins/*

# gamemodes
gamemodes/*
!gamemodes/sf-cnr.pwn
!gamemodes/COD8.pwn

# scriptfiles
scriptfiles/**/*
!scriptfiles/COD/
!scriptfiles/COD/**

# npc
npcmodes/**/*
!npcmodes/.gitkeep
!npcmodes/secureguard.pwn
!npcmodes/recordings/
!npcmodes/recordings/*.rec
npcmodes/recordings/mission_4.rec
npcmodes/recordings/mission_3.rec
npcmodes/recordings/mission_2.rec
npcmodes/recordings/mission_1.rec
