echo Executing Server Config...
lanmode 0
rcon_password lo
maxplayers 335
port 7777
hostname SF-CNR Test Server (0.3.7)
gamemode0 sf-cnr 1
filterscripts sampcac_testscript
announce 0
query 1
weburl www.sa-mp.com
onfoot_rate 40
incar_rate 40
weapon_rate 40
stream_distance 300.0
stream_rate 1000
plugins crashdetect mysql gvar regex sscanf streamer Whirlpool FCNPC RouteConnectorPlugin sampcac_server MapAndreas TPoker MerRandom
maxnpc 210
logtimeformat [%H:%M:%S]
language All
messageslimit 10000
messageholelimit 30000
